body{
    margin:0;
}

.header{
    position: fixed;
    top: 0;
    width: 93%;
    background-color: #b5c7d6;
    color: white;
    margin-left: 7%;
    padding: 10px;
    box-shadow: #b5c7d6;
}
.header-links{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right:30px;
}
.header-links li{
    margin-left: 20px;
}

.header-links li:first-child {
    margin-left: 0;
}

.sidebar{
    float: left;
    min-width: 7%; 
    background-color: #1E88E5;
    color: white;
    z-index: 1;
    position: relative;
    height: 100vh;
}

.sidebar-links{
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
}

.sidebar-links li{
    margin-top: 40px;
}
.sidebar-links li:first-child{
    margin-top: 0;
}

.sidebar-links a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 20px 0px;
}
.sidebar-links a:hover{
    border-right: 4px solid#FF9800;
}
