{% extends "base.html" %}

{% load static %}


{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'social_media_integration/css/main.css' %}">
{% endblock  %}

{% block content %}
    <div class="social-integration add-social-accounts">
        <h5> Add Social Media Accounts </h5>
        <div class="social-button manage-account">
            <a href="{% url 'social_integration:manage-accounts' %}">
                <button>
                    Manage Social Accounts
                </button>
            </a>
        </div>
        <div>
            <h6>Connect a social media account</h6>
            <div class="accounts-list">
                <div class="social-account twitter shadow">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <span class="plus-icon">+</span>
                        <input type="submit" value="Twitter">
                    </form>
                </div>
                <div class="social-account instagram shadow">
                    <span class="plus-icon">+</span>
                    <a href="">Instagram</a> 
                </div>
                <div class="social-account Linkedin shadow">
                    <span class="plus-icon">+</span>
                    <a href="">Linkedin</a>
                </div>
                <div class="social-account Facebook shadow">
                    <span class="plus-icon">+</span>
                    <a href="">Facebook</a>  
                </div>
            </div>
        </div>
    </div>
{% endblock %}