{% extends "base.html" %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'social_media_integration/css/main.css' %}">
{% endblock  %}

{% block content %}
    <div class="social-integration manage-account">
        <h5>Manage account</h5>
        <div class="social-button add-account">
            <a href=" {% url 'social_integration:add-social-accounts' %} ">
                <button>
                    Add Social Account
                </button>
            </a>
        </div>
        {% if social_accounts %}
            <div class="accounts-list">
                {% for social_account in social_accounts  %}
                    {% if social_account.platform == "twitter" %}
                        <div class="social-account {{ social_account.platform }} shadow-sm">
                            <div class="account-info">
                                <img src="{{ social_account.profile_picture_url }}" alt="">
                                <span>
                                    <p> {{ social_account.name }} </p>
                                    <p>{{ social_account.platform }}</p>
                                </span> 
                            </div>
                            <div>
                                <form action="" method="post">
                                    <p>Remove account</p>
                                </form>
                            </div> 
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
           <p> You have not linked any Social Account </p>
        {% endif %}
        

    </div>
{% endblock  %}